body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  list-style-type: none;
  margin: 25px;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px 5px;
}

li a:hover {
  font-weight: 700;
}

.navbar {
  padding: 20px;
}

.navbar h1 {
  text-align: left;
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 0px;
  color: black;
}

.navBar-main {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  padding: 10px 0px 35px 0px;
  height: 100px;
  width: 100%;
  background-color: rgb(24, 24, 24);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.navBar-title-name {
  color: white;
  font-family: "Archivo Black", Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.navBar-title-main {
  float: left !important;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}
